<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}{% endblock %} - TiendaTiendas</title>
	<link rel="stylesheet" type="text/css" href="{{URL}}\resources\bootstrap-5.2.2-dist\css\bootstrap.min.css">
</head>
<body>
	<header class="p-3 text-bg-dark">
	    <nav class="navbar navbar-dark bg-dark navbar-expand-md">
		<div class="container-fluid">
		    <a class="navbar-brand" href="{{URL}}">TT</a>
		    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="collapse navbar-collapse" id="navbarSupportedContent">
		      	<ul class="navbar-nav me-auto mb-2 mb-lg-0">
			        <li class="nav-item">
			          <a class="nav-link {% if CONTROLLER=='articles' and ACTION=='index' %}active{% endif %}"href="{{URL}}/articles">Catálogo</a>
			        </li>
			        <li class="nav-item">
			          <a class="nav-link {% if CONTROLLER=='cart' and ACTION=='index' %}active{% endif %}" href="{{URL}}/cart">Carrito {% if cartCount %}<span class="badge text-bg-primary">{{cartCount}}</span>{% endif %}</a>
			        </li>
			        <li class="nav-item">
			          <a class="nav-link {% if CONTROLLER=='purchases' and ACTION=='index' %}active{% endif %}" href="{{URL}}/purchases">Mis Compras</a>
			        </li>
		      	</ul>
		      	{% if USER %}
		      		<div>
				      <span class="me-5">{{USER.name}}</span>
				      <a href="{{URL}}/users/logout"><button class="btn btn-warning">Salir</button></a>
			    	</div>
		      	{% else %}
			      	<div>
				      <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#loginModal">Login</button>
				      <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#registerModal">Registro</button>
			    	</div>
			    {% endif %}
		    </div>
		  </div>
		</nav>
	</header>
	<main>{% block content %}{% endblock %}</main>
	<!-- Modal -->
	<div class="modal fade" id="loginModal" tabindex="-1">
	  <div class="modal-dialog modal-dialog-centered">
	    <div class="modal-content">
	      	<div class="modal-header">
	        	<h1 class="modal-title fs-5">Login</h1>
	        	<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      	</div>
	      	<form method="POST" id="loginForm">
		      	<div class="modal-body">
		      		<div class="alert alert-danger" role="alert" style="display:none"></div>
			      	<div class="mb-3">
				   		<label for="emailLogin" class="form-label">Email</label>
				    	<input name="email" type="email" class="form-control" id="emailLogin" required>
				    	<div class="invalid-feedback" id="emailLoginFeedback" style="display:none"></div>
				  	</div>
				  	<div class="mb-3">
				    	<label for="passwordLogin" class="form-label">Password</label>
				    	<input name="password" type="password" class="form-control" id="passwordLogin" required>
				    	<div class="invalid-feedback" id="passwordLoginFeedback" style="display:none"></div>
				  	</div>
			    </div>
		      	<div class="modal-footer">
			        <button class="btn btn-primary" type="submit">Acceder</button>
			    </div>
			</form>
	    </div>
	  </div>
	</div>
	<div class="modal fade" id="registerModal" tabindex="-1">
	  <div class="modal-dialog modal-dialog-centered">
	    <div class="modal-content">
	      	<div class="modal-header">
	        	<h1 class="modal-title fs-5">Registro</h1>
	        	<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      	</div>
	      	<form method="POST" id="registerForm">
		      	<div class="modal-body">
		      		<div class="alert alert-danger" role="alert" style="display:none"></div>
		      		<div class="mb-3">
				    	<label for="nameRegister" class="form-label">Nombre</label>
				    	<input name="name" type="text" class="form-control" id="nameRegister" required>
				    	<div class="invalid-feedback" id="nameRegisterFeedback" style="display:none"></div>
				  	</div>
			      	<div class="mb-3">
				   		<label for="emailRegister" class="form-label">Email</label>
				    	<input name="email" type="email" class="form-control" id="emailRegister" required>
				    	<div class="invalid-feedback" id="emailRegisterFeedback" style="display:none"></div>
				  	</div>
				  	<div class="mb-3">
				    	<label for="passwordRegister" class="form-label">Password</label>
				    	<input name="password" type="password" class="form-control" id="passwordRegister" required>
				    	<div class="invalid-feedback" id="passwordRegisterFeedback" style="display:none"></div>
				  	</div>
			    </div>
		      	<div class="modal-footer">
			        <button class="btn btn-primary" type="submit">Registrarse</button>
			    </div>
			</form>
	    </div>
	  </div>
	</div>
	<script type="text/javascript" src="{{URL}}/resources/bootstrap-5.2.2-dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="{{URL}}/resources/jquery-3.6.1.min.js"></script>
	<script type="text/javascript">

		registerForm.onsubmit = function(e){
			e.preventDefault();
			$.ajax({
			  method: "POST",
			  url: "{{URL}}/users/register",
			  data: { name: `${nameRegister.value}`,email: `${emailRegister.value}`,password: `${passwordRegister.value}` }
			})
		  	.done(function( errors ) {
		  		$("#registerForm .alert").hide();
		  		$("#registerForm input").removeClass('is-invalid');
		  		$("#registerForm input").addClass('is-valid');
		  		$("#registerForm .invalid-feedback").hide();
	  			let json = JSON.parse(errors);
	  			let valid = true;
	  			for(let field in json){
	  				valid = false;
	  				if(field == 'general'){
	  					$("#registerForm .alert").show().text(json[field]);
	  				}else{
		  				$("#"+field+"Register").removeClass('is-valid');
		  				$("#"+field+"Register").addClass('is-invalid');
		  				$("#"+field+"RegisterFeedback").show();
		  				$("#"+field+"RegisterFeedback").text(json[field]);
	  				}
	  			}
	  			if(valid){
	  				location.reload();
	  			}
		  	});
		}

		loginForm.onsubmit = function(e){
			e.preventDefault();
			$.ajax({
			  method: "POST",
			  url: "{{URL}}/users/login",
			  data: { email: `${emailLogin.value}`,password: `${passwordLogin.value}` }
			})
		  	.done(function( errors ) {
		  		$("#loginForm .alert").hide();
		  		$("#loginForm input").removeClass('is-invalid');
		  		$("#loginForm input").addClass('is-valid');
		  		$("#loginForm .invalid-feedback").hide();
	  			let json = JSON.parse(errors);
	  			let valid = true;
	  			for(let field in json){
	  				valid = false;
	  				if(field == 'general'){
	  					$("#loginForm .alert").show().text(json[field]);
	  				}else{
		  				$("#"+field+"Login").removeClass('is-valid');
		  				$("#"+field+"Login").addClass('is-invalid');
		  				$("#"+field+"LoginFeedback").show();
		  				$("#"+field+"LoginFeedback").text(json[field]);
	  				}
	  			}
	  			if(valid){
	  				location.reload();
	  			}
		  	});
		}
	</script>
</body>
</html>