<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}{% endblock %} - GoodGuitars</title>
	<link rel="stylesheet" type="text/css" href="{{URL}}\resources\bootstrap-5.2.2-dist\css\bootstrap.min.css">
</head>
<body>
	<header class="p-3 text-bg-dark">
	    <nav class="navbar navbar-dark bg-dark navbar-expand-md">
		<div class="container-fluid">
		    <a class="navbar-brand" href="{{URL}}">TT</a>
		    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="collapse navbar-collapse" id="navbarSupportedContent">
		      	<ul class="navbar-nav me-auto mb-2 mb-lg-0">
			        <li class="nav-item">
			          <a class="nav-link {% if CONTROLLER=='articles' and ACTION=='index' %}active{% endif %}"href="{{URL}}/articles">Catálogo</a>
			        </li>
			        <li class="nav-item">
			          <a class="nav-link {% if CONTROLLER=='cart' and ACTION=='index' %}active{% endif %}" href="{{URL}}/cart">Carrito {% if cartCount %}<span class="badge text-bg-primary">{{cartCount}}</span>{% endif %}</a>
			        </li>
			        <li class="nav-item">
			          <a class="nav-link {% if CONTROLLER=='purchases' and ACTION=='index' %}active{% endif %}" href="{{URL}}/purchases">Mis Compras</a>
			        </li>
		      	</ul>
		      	<div>
			      <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">Login</button>
			      <button class="btn btn-warning">Registro</button>
		    	</div>
		    </div>
		  </div>
		</nav>
	</header>
	<main>{% block content %}{% endblock %}</main>
	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered">
	    <div class="modal-content">
	      	<div class="modal-header">
	        	<h1 class="modal-title fs-5" id="exampleModalLabel">Inicio de sesión</h1>
	        	<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      	</div>
	      	<form method="POST">
		      <div class="modal-body">
			      <div class="mb-3">
				    <label for="emailLogin" class="form-label">Email</label>
				    <input name="email" type="email" class="form-control" id="emailLogin" required>
				  </div>
				  <div class="mb-3">
				    <label for="loginPassword" class="form-label">Password</label>
				    <input name="password" type="password" class="form-control" id="loginPassword" required>
				  </div>
		      </div>
		      <div class="modal-footer">
		        <button type="submit" class="btn btn-primary">Acceder</button>
		      </div>
			</form>
	    </div>
	  </div>
	</div>
	<script type="text/javascript" src="{{URL}}/resources/bootstrap-5.2.2-dist/js/bootstrap.min.js"></script>
</body>
</html>