{% extends "layout.twig" %}

{% block title %}Guitarra 1{% endblock %}

{% block content %}
    <h1 class="text-center my-3">{{article.title}}</h1>
    <div class="container mb-4">
        <div class="row">
            <div class="col-12 col-sm-4 col-md-6">
                <img src="{{URL}}/resources/images/{{article.picture}}" style="width:100%">
            </div>
            <div class="col-12 col-sm-8 col-md-6">
                <p>{{article.description}}</p>
                <p>{{article.price}} €</p>
                <a href="{{URL}}" class="float-start">
                    <button class="btn btn-secondary">Volver</button>
                </a>
                <a href="{{URL}}/cart/add/{{article.id}}" class="float-end">
                    <button class="btn btn-success">Añadir al carro</button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}